* {
    padding: 0;
    margin: 0;
}

.toolContainer {
    float: left;
    width: 100px;
}

.tool {
    padding: 2px;
    border: 1px solid black;
    cursor: pointer;
}

.tool.selected {
    background-color: #ddffd6;
}

.cardContainer {

}

.card {
    display: inline-block;
    border: 1px solid black;
    padding: 5px;
    margin: 5px;
}

.ambulanceRow {
    width: 500px;
    padding: 0;
    border-bottom: 2px solid black;
}

.ambulanceCar {
    display: inline-block;
    width: 15px;
    height: 10px;
    background-color: green;
}